<div data-ng-controller="ClienteController as clienteCtrl">
    <h1 class="page-header">Perfil</h1>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-1" for="nome">Nome:</label>
            <div class="col-sm-4">
                <input class="form-control" id="nome">
            </div>
            <label class="control-label col-sm-2" for="idade">Idade:</label>
            <div class="col-sm-1">
                <input class="form-control" id="idade">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Email:</label>
            <div class="col-sm-8">
                <input class="form-control" id="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="endereco">Endereço:</label>
            <div class="col-sm-8">
                <input class="form-control" id="endereco">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="numero">Número:</label>
            <div class="col-sm-1">
                <input class="form-control" id="numero">
            </div>
            <label class="control-label col-sm-1" for="bairro">Bairro:</label>
            <div class="col-sm-3">
                <input class="form-control" id="bairro">
            </div>
            <label class="control-label col-sm-1" for="cep">CEP:</label>
            <div class="col-sm-2">
                <input class="form-control" id="cep">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="cidade">Cidade:</label>
            <div class="col-sm-2">
                <input class="form-control" id="cidade">
            </div>
            <label class="control-label col-sm-1" for="estado">Estado:</label>
            <div class="col-sm-2">
                <input class="form-control" id="estado">
            </div>
            <label class="control-label col-sm-1" for="pais">País:</label>
            <div class="col-sm-2">
                <input class="form-control" id="pais">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="telefone">Telefone:</label>
            <div class="col-sm-2">
                <input class="form-control" id="telefone">
            </div>
            <label class="control-label col-sm-1" for="sexo">Sexo:</label>
            <div class="col-sm-2">
                <select class="form-control" id="sexo">
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </div>
        </div>
    </form>
</div>